#group-quick-access {
  margin: 8px 0;
  display: none;
  align-items: center;

  label {
    margin: 0;
    color: #a6a6a6;
    cursor: pointer;

    svg {
      transform: translateX(0) rotate(90deg);
      transition: transform 0.3s ease-in-out;
    }
    &:hover {
      color: #8e0086;
    }
  }
  input:checked + label > svg {
    transform: translateX(-4px) rotate(0deg);
  }
  input {
    display: none;
  }
  input:checked ~ .group-filters {
    opacity: 1;
    pointer-events: all;
  }
  .group-filters {
    opacity: 0;
    pointer-events: none;
    overflow: hidden;
    display: flex;
    gap: 8px;
    padding: 4px;
    align-items: center;
    flex-wrap: wrap;
    transition: opacity 0.3s ease;

    .group-filter-dot {
      position: relative;
      text-decoration: none;
      display: inline-block;
      width: 16px;
      height: 16px;
      border-radius: 8px;

      &:hover::after {
        opacity: 0;
      }

      &::after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 16px;
        height: 16px;
        border-radius: 8px;
        background-color: #afafaf;
        z-index: 1;
        opacity: 1;
      }
    }
  }
}
#group-quick-access.active {
  display: flex;
}